<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : mapper 파일을 구분할 수 있는 고유 식별자 -->
<!-- 이름을 지정해줄 때 DAO 클래스 파일명과 일치시키는 경우가 많음 -->
<mapper namespace="com.model.training_infoDAO">
<!-- parameterType : alias 지정했는지 확인할 것 -->

<!-- 운동 설명 조회(삭제 필요) -->
<select id="select_training_info"
parameterType="com.model.training_infoVO"
resultType="com.model.training_infoVO">
select act_info from training_info
where training_index = #{training_index}
</select>

<!-- 운동 이름 조회 -->
<select id="select_training_name"
parameterType="int"
resultType="String">
select training_name 
from training_info
where training_index = #{training_index}
</select>


</mapper>